<header>
  <div class="collapse bg-success bg-gradient" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>-->
        <strong>Supermarket@Home</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herbs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/herbs/culinary">Culinary Herbs</a></li>
            <!-- <li><a class="dropdown-item" routerLink="/herbs/medicinal">Medicinal Herbs</a></li> -->
            <li><a class="dropdown-item" routerLink="/herbs/spices">Spices</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vegetables
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/vegetables-and-fruits/fourteen-healthiest">14 Healthiest Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="/vegetables-and-fruits/fresh-vegetables">Fresh Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="/vegetables-and-fruits/fresh-fruit">Fresh Fruits</a></li>
            <li><a class="dropdown-item" routerLink="/vegetables-and-fruits/frozen-fruits-and-vegetables">Frozen Fruits and Vegetables Fruits</a></li>  
            <li><a class="dropdown-item" routerLink="/vegetables-and-fruits/naija-vegetables">Naija Vegetables</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/meats/fresh-poultry">Fresh Poultry Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/fresh-cow">Fresh Cow Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/fresh-goat">Fresh Goat & Ram Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/frozen-meat">Frozen Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/pork">Pork</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Food Cupboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/food-cupboard/cereal">Breakfast Cereal </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/drinks">Beverages & Drinks</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/grains">Beans, Rice & Grains </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/custard-jelly-pap">Custard, Jelly & Pap </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/flour">Cake, Bake, Pancake & Bread</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/canned-foods"> Canned Food</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/dairy-cheese-eggs">Dairy, Cheese & Eggs</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/sausages-and-hot-dog">Ham, Sausages & Hot Dog</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/jams-spread-margarine-honey">Jams, Spread, Margarine & Vinegar</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/olives-pickles">Olive & Pickles </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/oil">Oil </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/pasta">Pasta & Noodles`</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/salad-dressing">Salad Dressing, Soups & Sauces</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/swallow">swallow</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/sugar-sweetners-vinegar">Sugar, Sweetners & Honey</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Naija Food
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/naija-food/naija-vegetables">Naija Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="/naija-food/tubers">Naija Tubers</a></li>
            <li><a class="dropdown-item" routerLink="/naija-food/naija-spices-and-condiment">Naija Spices & Codiments</a></li>
            <li><a class="dropdown-item" routerLink="/naija-food/naija-snacks">Naija Snacks</a></li>
           

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Snacks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/snacks/biscuit-cookies-and-wafers">Biscuit & Wafers</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/candy-and-chewing-gums">Candy & Chewing Gums </a></li>
            <li><a class="dropdown-item" routerLink="/snacks/chocolates">Chocolates & Cookies</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/nuts-and-dried-fuits">Nuts & Dried Fruits</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/potato-and-plantain-chips">Potato & Plantain Chips</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/popcorn">Popcorn</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/energy-and-granola-bars">Energy & Granola Bars</a></li>
            <li><a class="dropdown-item" routerLink="/snacks/beef-rolls-and-cakes">Beef Rolls & Cakes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Household Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/household-items/toilet-and-facial-tissue">Toilet & Facial Tissue</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/laundry-and-carcare">Laundry & Carcare</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/hand-wash-and-santisers">Handwash & Sanitisers</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/insecticides-and-rat-trap">Insecticides & Rat Traps</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/air-freshners-and-fragnances">Air Freshners & Fragnances</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/waste-bins-and-bin-bags">Waste Bins & Bin Bags</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/batteries-sockets-plugs-and-light-bulbs">Batteries, Sockets, Plugs & Light Bulbs</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/home-decor-and-beddings">Home Decor & Beddings</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/home-furniture">Home Furniture</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/shoe-polish-and-fragnances">Shoe Polish & Fragnances</a></li>
            <li><a class="dropdown-item" routerLink="/household-items/pets">Pets</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Kitchen & Dining
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/kitchen-towels-and-servietts">Kitchen Towels & Serviettes</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/foil-and-cling-film">Foil & Cling Film </a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/freezer-and-sandwich-bags">Freezer & Sandwich Bags</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/storage-and-organization">Storage & Organization</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/bakware-and-cookware">Bakeware & Cookware</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/kitchen-utensils">Kitchen Utensils</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/nylon-bags-and-carry-sacks">Nylon Bags & Carry Sacks</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen-and-dining/food-containers">Food Containers</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gift Store
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/gift-store/birthday-gift">Birthday Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/wedding-gift">Wedding Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/christmas-gift">Christmas Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/special-occasion">Special Occasion</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Restaurant@Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/restaurant/breakfast">Breakfast</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/lunch-and-dinner">Lunch & Dinner</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/snacks">Snacks</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/soup">Soup</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/street-food">Street Food</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
