<header>
  <div class="collapse bg-success bg-gradient" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>-->
        <strong>Supermarket@Home</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herbs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/herbs/culinary">Culinary Herbs</a></li>
            <li><a class="dropdown-item" routerLink="/herbs/medicinal">Medicinal Herbs</a></li>
            <li><a class="dropdown-item" routerLink="/herbs/spices">Spices</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vegetables
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/vegetables/all-vegetables">All Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="/vegetables/naija-vegetables">Naija Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="/vegetables/fourteen-healthiest">14 Healthiest Vegetables</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/meats/fresh-poultry">Fresh Poultry Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/fresh-cow">Fresh Cow Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/fresh-goat">Fresh Goat Meat</a></li>
            <li><a class="dropdown-item" routerLink="/meats/pig">Pig Meat</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Food Cupboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/food-cupboard/cereal">Cereal </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/dairy">Dairy</a></li>
            <li><a class="dropdown-item" routerLink="grains.html">Grains</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/condiments">Condiment</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/pasta">Pasta</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/beverages">Beverage</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/drinks">Drinks</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/flour">Flour</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/oil">Oil </a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/salad-dressing">Salad Dressing</a></li>
            <li><a class="dropdown-item" routerLink="/food-cupboard/sausages-and-hot-dog">Sausages & Hot Dog</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gift Store
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/gift-store/birthday-gift">Birthday Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/wedding-gift">Wedding Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/christmas-gift">Christmas Gift</a></li>
            <li><a class="dropdown-item" routerLink="/gift-store/special-occasion">Special Occasion</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Restaurant@Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/restaurant/breakfast">Breakfast</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/lunch-and-dinner">Lunch & Dinner</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/snacks">Snacks</a></li>
            <li><a class="dropdown-item" routerLink="/restaurant/soup">Soup</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
